{% if tree_categories %}

    <div class="ps-main">
        <div class="ps-section masonry-root pt-80 pb-40">
            <div class="ps-container">
                <div class="ps-section__header mb-50">
                    <h3 class="ps-section__title">主营品牌</h3>
                </div>
                <div class="ps-section__content pb-50">
                    <div class="masonry-wrapper" data-col-md="6" data-col-sm="4" data-col-xs="1" data-gap="30"
                         data-radio="100%">
                        <div class="ps-masonry">
                            {% for tree_category in tree_categories %}
                                {% if tree_category.level > 0 and tree_category.image.url %}
                                    <div class="grid-item">
                                        <div class="grid-item__content-wrapper"><a class="ps-offer" href="{{ tree_category.url }}"><img
                                                src="{{ tree_category.image.url }}" alt=""></a></div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}