{% if tree_categories %}

    <div class="ps-main">

        <div class="ps-home-partner">
            <div class="ps-container">
                <div class="ps-section__header mb-50">
                    <h3 class="ps-section__title">最新收录</h3>
                </div>

                <div class="owl-slider" data-owl-auto="true" data-owl-loop="true" data-owl-speed="5000"
                     data-owl-gap="40"
                     data-owl-nav="false" data-owl-dots="false" data-owl-item="6" data-owl-item-xs="2"
                     data-owl-item-sm="4"
                     data-owl-item-md="5" data-owl-item-lg="6" data-owl-duration="1000" data-owl-mousedrag="on">
                    {% for tree_category in tree_categories %}
                        {% if tree_category.level > 0 and tree_category.image.url  %}
                            </a><a href="{{ tree_category.url }}"><img
                                src="{{ tree_category.image.url }}" alt=""></a>
                        {% endif %}
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
{% endif %}