<div class="hz_catagory_product_list">
    <div class="row">
        {% if descendants %}
            {% for descendant in descendants %}
                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                    <div class="hz_card_xs">
                        <a href="#" target="_blank">
                            <div>
                                <h3 class="hz_card_header_xs">{{ descendant.name }}</h3>
                                {% if descendant.image %}
                                    <div class="zh_card_image_xs"
                                         style="background-image: url(&quot;{{ descendant.image.url }}&quot;);"></div>
                                {% else %}
                                    <div class="zh_card_image_xs"
                                         style="background-image: url(&quot;static/assets/img/no-photo.png&quot;);"></div>
                                {% endif %}
                            </div>
                        </a>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>