{% load product_tags %}
{% load i18n %}

<div class="row" style="margin-left:0px; margin-right:0px">

    <div id="inhalt_zu_wechseln">
        <div class="row m0 bord_grau">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                <div class="styles=&quot;border:none&quot;" rules="none" cellspacing="0" text-align="left"
                     frame="void">
                    <table class="table">
                        <tbody>
                        <tr>
                            <td><strong>中文名</strong></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><strong>包含产品数据</strong></td>
                            <td class="txt_b_600">{{ products|length }}条</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                <div class="styles=&quot;border:none&quot;" rules="none" cellspacing="0" text-align="left"
                     frame="void">
                    <table class="table">
                        <tbody>
                        <tr>
                            <td><strong>国家</strong></td>
                            <td>美国</td>
                        </tr>
                        <tr>
                            <td><strong>网址</strong></td>
                            <td class="txt_b_600"><a href="#">#</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 hz_p_10">
                <div class="hz_catagory_img"
                     style="background-image: url(&quot;assets/img/A-1-Components.png&quot;);"></div>
            </div>
        </div>
        <div class="row m0" style="margin-top: 20px">
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" style="padding: 0px;">
                <div class="row m0" style="background-color: #c1c1c1;">
                    <div class="col-md-12">
                        <h3 class="txt_b_600 m_tb_10" style="color: rgb(25,25,25);">品牌介绍</h3>
                    </div>
                </div>
                <div class="row m0">
                    <div class="col-md-12 bord_cata_grau" style="padding-bottom:10px">
                        <p>
                            <br>{{ category.description|safe }}
                            <br>
                        </p>
                    </div>
                </div>
                <div class="row m0">
                    <div class="col-md-12 bord_cata_grau" style="padding-bottom:5px;padding-top:10px">
                        <h3 class="txt_b_600"><strong>产品列表</strong><br></h3>
                    </div>
                </div>
                <div class="row m0">
                    <div class="col-md-12 bord_cata_grau" style="padding-bottom:10px">
                        {% if products %}
                            <section>
                                <div>
                                    <ol class="row">
                                        {% for product in products %}
                                            <li class="col-xs-6 col-sm-4 col-md-3 col-lg-3">{% render_product product %}</li>
                                        {% endfor %}
                                    </ol>
                                    {% include "oscar/partials/pagination.html" %}
                                </div>
                            </section>
                        {% else %}
                            <p class="nonefound">{% trans "No products found." %}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="padding: 0px 5px">
                <div class="row m0" style="margin-left: 10px;margin-bottom: 15px;">
                    <div style="padding: 0px;">
                        <div class="row m0" style="background-color: #c1c1c1;">
                            <div class="col-md-12" style="height: 46px;">
                                <h3 class="txt_b_600 m_tb_10" style="color: rgb(25,25,25);font-size: 20px;">相关品牌</h3>
                            </div>
                        </div>
                        <div class="row m0">
                            <div class="col-md-12 bord_cata_grau">
                                <div class="table-responsive" style="font-size: 18px;">
                                    <table class="table">
                                        <thead>
                                        <tr></tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td><a href="#">Seeger-Orbis</a></td>
                                        </tr>
                                        <tr>
                                            <td><a href="#">DRAEGER</a>
                                                <br>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><a href="#">Regent Controls</a>
                                                <br>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row m0" style="margin-left:10px">
                    <div style="padding: 0px;">
                        <div class="row m0" style="background-color: #c1c1c1;">
                            <div class="col-md-12" style="height: 46px;">
                                <h3 class="txt_b_600 m_tb_10" style="color: rgb(25,25,25);font-size: 20px;">相关产品</h3>
                            </div>
                        </div>
                        <div class="row m0">
                            <div class="col-md-12 bord_cata_grau">
                                <div class="table-responsive" style="font-size: 18px;">
                                    <table class="table">
                                        <thead>
                                        <tr></tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td><a href="#">SN 10544</a></td>
                                        </tr>
                                        <tr>
                                            <td><a href="#">RF52751357</a>
                                                <br>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><a href="#">SZA 400Ex-24</a>
                                                <br>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><a href="#">IGEX20 30723</a>
                                                <br>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
